@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Resetting bootstrap */
.btn-primary {
    display: flex;
    padding: var(--x-small, 8px) var(--medium, 16px);
    justify-content: center;
    align-items: center;

    border-radius: var(--medium, 8px);
    background: var(--Secondary-darkest, #3A5645);

    color: var(--Neutrals-white, #FFF);

    /* Bold/body-l */
    font-family: Nunito;
    font-size: var(--Font-size-body-l, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    --bs-btn-color: #fff;
    --bs-btn-bg: #3A5645;
    --bs-btn-border-color: #3A5645;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3A5645;
    --bs-btn-hover-border-color: #3A5645;
    --bs-btn-focus-shadow-rgb: 58, 86, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3A5645;
    --bs-btn-active-border-color: #3A5645;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3A5645;
    --bs-btn-disabled-border-color: #3A5645;
}

.btn-secondary {
    display: flex;
    padding: var(--x-small, 8px) var(--medium, 16px);
    justify-content: center;
    align-items: center;

    border-radius: var(--medium, 8px);
    border: 1px solid var(--Secondary-default, #CFEADA);
    background: var(--Secondary-light, #E2F7EA);

    color: var(--Secondary-darkest, #3A5645);

    /* Bold/body-l */
    font-family: Nunito;
    font-size: var(--Font-size-body-l, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    --bs-btn-color: #3A5645;
    --bs-btn-bg: #E2F7EA;
    --bs-btn-border-color: #E2F7EA;
    --bs-btn-hover-color: #3A5645;
    --bs-btn-hover-bg: #E2F7EA;
    --bs-btn-hover-border-color: #E2F7EA;
    --bs-btn-focus-shadow-rgb: 58, 86, 69;
    --bs-btn-active-color: #3A5645;
    --bs-btn-active-bg: #E2F7EA;
    --bs-btn-active-border-color: #E2F7EA;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #3A5645;
    --bs-btn-disabled-bg: #E2F7EA;
    --bs-btn-disabled-border-color: #E2F7EA;
}