*,
hr,
h1,
h2,
h3,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
    width: fit-content;
}

a.link {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
}

body {
    overflow-x: hidden;
}

button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}