/* Web layout rooles */
#web-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 84px;
    margin-top: 23px;
    padding-bottom: 96px;
}

#web-container>section {
    position: relative;
    padding-left: var(--huge, 64px);
    padding-right: var(--huge, 64px);
    width: 100%;
    max-width: 1440px;
}

#web-container>section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}

@media only screen and (max-width: 768px) {
    #web-container {
        margin-top: 0;
        gap: var(--huge, 64px);
        padding-bottom: var(--xxx-large, 48px);
    }

    #web-container>section {
        padding: 0px var(--large, 24px);
    }

    #web-container #hero-section {
        padding-left: 0;
        padding-right: 0;
    }
}